
.event--item {

}

.event--item__image {
  overflow: hidden;
}

.event--item__image img {
}

.event--item__data {}

.item--data__type {
  color: var(--color-primary);
  font-size: 0.70rem;
}

.event-approved {
  /* opacity: .2; */
}

.event--item__approved {
  @apply rounded-xl;
  background-color: var(--color-background-events-approved);
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 99;
}

.item--approved {
}

.item--approved__icon {
  @apply rounded-full;
}