html[data-theme="default"] {
  --color-primary: #F68142;
  --color-secondary: #F2F2F2;
  --color-white: #F6f6f6;
  --color-gray: #797979;
  --color-light-yellow: #FEF3E3;
  --color-background: #F6f6f6;
  /* TYPOGRAPHY */
  --color-typography-black: #242424;
  --color-typography-white: #F6f6f6;
  --color-typography-gray: #797979;

  /* DIVIDER */
  --color-divider-border: rgba(121,121,121, 0.23);

  
  /* TAB */
  --color-bg-tab-active: #F68142;
  --color-bg-tab-inactive: #FEF3E3;
  --color-tab-border-active: #F68142;
  --color-tab-border-inactive: #F68142;

  /* FOOTER */
  --color-bg-footer: #F6f6f6;
  --color-footer-tab-active: #F68142;
  --color-footer-tab-inactive: #797979;

  /* EVENTS */

  /* MODAL */

  /* QR CODE */
  --color-qr-code-printer: #F68142;
  --color-qr-code-line: #F68142;

  /* INPUT */
  --color-input-focus-border: #F68142;
  --color-input-focus-shadow: #F68142;

  /* EVENTS */
  --color-background-events-approved: rgba(255, 255, 255, 0.6);
}