@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  @import "themes/default.css";
  * {
    box-sizing: border-box;
    line-height: 30px;
  }
}

@layer utilities {
  .no-scrollbar::-webkit-scrollbar {
    display: none;
  }
  /* Hide scrollbar for IE, Edge and Firefox */
  .no-scrollbar {
      -ms-overflow-style: none;  /* IE and Edge */
      scrollbar-width: none;  /* Firefox */
  }
}



body {
  @apply bg-background p-6;
}

.content {
  padding: 30px 20px;
}