@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  @import "themes/default.css";
  @import "components/modal.css";
  @import "components/tabs.css";
  @import "components/footer.css";
  @import "components/events.css";
  @import "components/qrcode.css";
  * {
    box-sizing: border-box;
  }
}

@layer utilities {
  .no-scrollbar::-webkit-scrollbar {
    display: none;
  }
  /* Hide scrollbar for IE, Edge and Firefox */
  .no-scrollbar {
      -ms-overflow-style: none;  /* IE and Edge */
      scrollbar-width: none;  /* Firefox */
  }
}



body {
  @apply bg-background p-6;
}

.content {
  padding: 30px 20px;
}

.divider {
  border-color: var(--color-divider-border);
  /* border-width: 0.1px; */
  border-radius: 8px;
  margin-top: 20px;
}