@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  @import "themes/default.css";
  @import "components/modal.css";
  @import "components/tabs.css";
  @import "components/footer.css";
  @import "components/events.css";
  @import "components/qrcode.css";
  @import "components/input.css";
  @import "components/tasks.css";
  @import "components/score.css";
  @import "components/stamp.css";
  @import "components/loading.css";

  @import "pages/profile.css";
  
  * {
    box-sizing: border-box;
  }
}

@layer utilities {
  .no-scrollbar::-webkit-scrollbar {
    display: none;
  }
  /* Hide scrollbar for IE, Edge and Firefox */
  .no-scrollbar {
      -ms-overflow-style: none;  /* IE and Edge */
      scrollbar-width: none;  /* Firefox */
  }
}

body {
  @apply bg-background;
}

.content {
  padding: 30px 20px;
}

.divider {
  border-color: var(--color-divider-border);
  border-radius: 8px;
  margin: 20px 0;
}

.profile-page {
  background-color: var(--color-primary);
}